{{ if type == 'header_visuals' }}
  {{ partial:components/blocks/header_visuals }}
{{ /if }}

{{ if type == 'intro' }}
  {{ partial:components/blocks/intro }}
{{ /if }}

{{ if type == 'explainer' }}
  {{ partial:components/blocks/explainer }}
{{ /if }}

{{ if type == 'reasons' }}
  {{ partial:components/blocks/reasons }}
{{ /if }}

{{ if type == 'posts' }}
  {{ partial:components/blocks/posts }}
{{ /if }}

{{ if type == 'faq' }}
  {{ partial:components/blocks/faq }}
{{ /if }}

{{ if type == 'supporter' }}
  {{ partial:components/blocks/supporter }}
{{ /if }}

{{ if type == 'jatelier' }}
  {{ partial:components/blocks/jatelier }}
{{ /if }}
