<article class="flex flex-col">

  {{ if image }}
    {{ partial:components/media/image
      :image="image"
      :alt="name"
      sizes="(min-width: 768px) 25vw, 100vw"
      wrapperClass="mb-12 md:mb-16 xl:mb-20"
    }}
  {{ /if }}

  {{ partial:components/headings/h3 size="xs" class="mb-6 md:mb-8 xl:mb-12" }}
    {{ name }}
  {{ /partial:components/headings/h3 }}

  {{ if quote }}
    <p class="mb-8 md:mb-12 xl:mb-16">
      {{ quote | nl2br }}
    </p>
  {{ /if }}

  {{ if linkedin_url }}
    <div>
      <a
        href="{{ linkedin_url }}"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex text-accent hover:opacity-70 transition-opacity"
        aria-label="{{ name }} auf LinkedIn">
        {{ partial:components/icons/linkedin class="w-20 md:w-24 xl:w-28 h-auto" }}
      </a>
    </div>
  {{ /if }}

</article>
