<article class="bg-accent p-16 md:p-20 xl:px-32 xl:py-28 text-white">

  {{ partial:components/headings/h3 size="sm" class="leading-[1.15] mb-8 md:mb-12 xl:mb-16" }}
    {{ title }}
  {{ /partial:components/headings/h3 }}

  <div class="mb-12 md:mb-16 xl:mb-20">
    {{ summary }}
  </div>

  <div>
    <a 
      href="{{ url }}" 
      class="btn inline-flex w-auto bg-white text-accent font-sans-bold leading-none px-16 py-12 md:px-16 md:py-12 xl:px-20 xl:py-16 no-underline hover:underline underline-offset-2 xl:underline-offset-4 decoration-2"
      aria-label="{{ title }} ">
      mehr erfahren
    </a>
  </div>
</article>
