<div 
  x-data="{ active: null }" 
  @click.outside="active = null" 
  class="flex flex-col gap-y-12 md:gap-y-16 xl:gap-y-20 text-xs md:text-sm xl:text-md leading-[1.25] {{ class }}"
  id="{{ anchor }}">
  {{ items }}
    <div class="border-2 md:border-3 xl:border-4 border-accent">

      <button
        type="button"
        @click="active = active === '{{ id }}' ? null : '{{ id }}'"
        :aria-expanded="active === '{{ id }}'"
        class="flex items-center justify-between gap-10 w-full px-12 md:px-16 xl:px-20 py-8 md:py-12 xl:py-16 text-left cursor-pointer">
        
        <span class="font-sans-bold text-accent">
          {{ title }}
        </span>
        
        <span class="shrink-0 text-accent">
          <span x-show="active !== '{{ id }}'">
            {{ partial:components/icons/chevron-down class="w-12 xl:w-14 h-auto" }}
          </span>
          <span x-show="active === '{{ id }}'" x-cloak>
            {{ partial:components/icons/cross size="sm" class="w-12 xl:w-14 h-auto" }}
          </span>
        </span>

      </button>

      <div x-show="active === '{{ id }}'" x-collapse x-cloak>
        <div class="border-t-2 md:border-t-3 xl:border-t-4 border-accent px-12 md:px-16 xl:px-20 py-8 md:py-12 xl:py-16">
          {{ answer }}
        </div>
      </div>
    </div>
  {{ /items }}
</div>
