{{ if visuals }}
  <section>

    <div class="swiper" data-slideshow>
      <div class="swiper-wrapper">
        {{ visuals }}
          <div class="swiper-slide">

            {{ if mobile }}
              {{ partial:components/media/image
                :image="mobile"
                alt=""
                sizes="100vw"
                eager="true"
                class="aspect-[10/16] w-full h-full object-cover"
                wrapperClass="md:hidden"
              }}
            {{ /if }}

            {{ if desktop }}
              {{ partial:components/media/image
                :image="desktop"
                alt=""
                sizes="100vw"
                eager="true"
                class="aspect-[2/1] w-full h-full object-cover"
                wrapperClass="hidden md:block"
              }}
            {{ /if }}

          </div>
        {{ /visuals }}
      </div>
    </div>

  </section>
{{ /if }}
