@import "./partials/fonts.css";
@import "tailwindcss";
@import "./partials/spacing.css";
@import "./partials/font-sizes.css";

@source "../views";
@source "../../content";
@source "../js/**/*.vue";
@source "../**/*.js";

@theme {
  --font-sans: 'futura-pt', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-accent: #0000ff;
  --color-light: #FFFBF8;
}

@layer base {
  :root {

  }
}

[x-cloak] {
  display: none !important;
}

