{{#
  Responsive image component with WebP + srcset width descriptors
  @param image - Asset reference
  @param alt - Alt text
  @param preset - Optional preset variant suffix, e.g. "16x10" (omit for contain)
  @param sizes - CSS sizes attribute (default: "100vw")
  @param class - CSS classes for the img element
  @param wrapperClass - CSS classes for the figure wrapper
  @param captionClass - CSS classes for the figcaption element
  @param height - Override image height
  @param width - Override image width
  @param eager - Load eagerly (default: false)
#}}
{{ pfx = preset ? ('-' &= preset) : '' }}
<figure class="{{ wrapperClass }}">
  <picture>
    <source
      type="image/webp"
      srcset="{{ glide:image :preset="'md' &= pfx &= '-webp'" }} 768w,
              {{ glide:image :preset="'lg' &= pfx &= '-webp'" }} 1280w,
              {{ glide:image :preset="'xl' &= pfx &= '-webp'" }} 1440w,
              {{ glide:image :preset="'2xl' &= pfx &= '-webp'" }} 1680w"
      sizes="{{ sizes ?? '100vw' }}">
    <img
      src="{{ glide:image :preset="'lg' &= pfx" }}"
      srcset="{{ glide:image :preset="'md' &= pfx" }} 768w,
              {{ glide:image :preset="'lg' &= pfx" }} 1280w,
              {{ glide:image :preset="'xl' &= pfx" }} 1440w,
              {{ glide:image :preset="'2xl' &= pfx" }} 1680w"
      sizes="{{ sizes ?? '100vw' }}"
      alt="{{ alt }}"
      height="{{ height ?? image:height }}"
      width="{{ width ?? image:width }}"
      class="block w-full h-auto {{ class ?? '' }}"
      loading="{{ eager ? 'eager' : 'lazy' }}">
  </picture>
  {{ if caption }}
    <figcaption class="{{ captionClass }}">
      {{ caption | nl2br }}
    </figcaption>
  {{ /if }}
</figure>
